/********************************************
 * Header and navigation
********************************************/

.header-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-nav {
  width: 2.5rem;
  margin: .5rem;
}

.nav-main ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-main-li {
  list-style: none;
  padding-right: .5rem;
  padding-left: .5rem;
}

.nav-main-li  a {
  text-decoration: none;

}

.nav-main-li  a:link {

}

.nav-main-li  a:visited {

}

.nav-main-li  a:focus{

}

.nav-main-li  a:hover {

}

.nav-main-li  a:active {

}

/********************************************
 * Footer and social
********************************************/

.footer-main {
  display: flex;
}

.social-footer {
  display: flex;
}

.social-footer li {
  list-style: none;
}

.social-footer li a {
  text-decoration: none;
}

.social-footer li a:link {
}

.social-footer li a:visited {
}

.social-footer li a:focus {

}
.social-footer li a:hover {
}

.social-footer li a:active {
}