/********************************************
 * Header and navigation
********************************************/
/************************************************
 * Navbar
 * base color: #1A237E; indigo
 * mobile first strategy
 ************************************************/

/************************************************
 * navigation block
 ************************************************/

 .header-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.nav-header {
  position: relative;
  width: 100%;
}

.nav-header-container {
  background-color: #eee;
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100%;
  transition: all .3s ease-in-out;
}

.logo-nav {
  display: none;
}

.brand-name {
  font-size: 1.6rem;
}

/************************************************
 * links
 ************************************************/
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/************************************************
 * link states
 ************************************************/
.nav-header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: .5rem;
  transition: all .25s ease-in-out;
  font-size: 1.3rem;
  color: #4F4F4F;
}

.nav-header-links:link {
  color: #4F4F4F;
}

.nav-header-links:visited {
  color: #4F4F4F;
}

.nav-header-links:focus {
  outline: 1px dotted #eee;
  outline-offset: -1px;
}

.nav-header-links:hover {
  color: #eee;
  background-color: #494949;
}

.nav-header-links:active {
  color: #fff;
  background-color: #333333;
}

.active {
  box-shadow: 1px 1px 2px rgba(128, 128, 128, .7) inset;
  background-color: #ddd;
  color: #fff;
  pointer-events: none;
}

/* when a link is already active */
.nav-header-links-visited:link,
.nav-header-links-visited:visited {
  color: #aab32e;
  pointer-events: none;
}

.nav-header-links span {
  margin-right: .5rem;
}

/************************************************
 * burger
 ************************************************/
.fa-bars{
  color: #4F4F4F;
  font-size: 2rem;
  padding: .5rem;
  cursor: pointer;
}

.fa-bars:hover {
  color: #494949;
}

.fa-bars:active {
  color: #333333;
}

.fa-bars {
  transition: all .25s ease-in-out;
}

.fa-bars-clicked {
  rotate: -90deg;
}

/************************************************
 * switch from burger to display menu items
 ************************************************/
 .show {
  left: 0;
}

/************************************************
 * media queries
 ************************************************/

@media screen and (min-width:768px) {

  .fa-bars {
    display: none;
  }

  .brand-name {
    display: none;
  }

  .header-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .nav-header {
    width: auto;
  }

  .nav-header-container {
    background-color: inherit;
    position: relative;
    left: 0;
    display: flex;
  }

  .nav-header-links {
    width: 100%;
    font-size: 1rem;
  }

  .logo-nav {
    fill: red;
    display: block;
    width: 2rem;
    margin-left: .5rem;
  }

}


/********************************************
 * Footer and social
********************************************/

.footer-main {
  display: flex;
}

.social-footer {
  display: flex;
}

.social-footer li {
  list-style: none;
}

.social-footer li a {
  text-decoration: none;
}

.social-footer li a:link {
}

.social-footer li a:visited {
}

.social-footer li a:focus {

}
.social-footer li a:hover {
}

.social-footer li a:active {
}


/********************************************
 * Theme: light and dark
********************************************/

body {
  background-color: #eee;
}