@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/**************************************
 * Normalize
**************************************/

html {
  color: var(--primary-color);
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;;
}

body {
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
}

/**************************************
 * material icons
**************************************/

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/**************************************
 * Grid
**************************************/

.App {
  display: grid;
  grid-template-areas:
    "header"
    "sidebar"
    "main"
    "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}

/**************************************
 * media queries
**************************************/

@media screen and (min-width:768px) {
  .App {
    display: grid;
    grid-template-areas:
      "header header"
      "main sidebar"
      "footer footer";
    grid-template-columns: 75% auto;
    column-gap: 2rem;
  }
  .container {
    padding-left: 1rem;
  }
}