@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/**************************************
 * Normalize
**************************************/

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

/**************************************
 * Default Themes
**************************************/

body {
  background-color: #07080d;
  color: #f8f8f8;
}

img {
  max-width: 100%;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.p-sm {
  padding: .5rem;
}

/**************************************
 * grid layout
**************************************/

.App {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 80% auto;
  min-height: 100vh;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/**************************************
 * Header
**************************************/
.header-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-header {
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.nav-header-container {
  display: block;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: flex-start;
}

.nav-header-open {
  height: 242px;
}


.nav-header-links,
.nav-header-links:link,
.nav-header-links:visited {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #f8f8f8;
  padding: .5rem;
  width: 100%;
  transition: all .3s ease-in-out;
}

.nav-header-links:focus {
  border: 1px dotted #f8f8f8;
}

.nav-header-links:hover {
  background-color: #f8f8f8;
  color: #07080d;
}

.nav-header-links:active {
  border: 1px solid #07080d;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .75) inset;
  color: #cbff77;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
}

.nav-header-links span {
  margin-right: .5rem;
}

.logo-header {
  height: 4rem;
  margin: 1rem;
}

/**************************************
 * Drop down menu
**************************************/

.fa-bars, .fa-bars:link {
  color: #f8f8f8;
  font-size: 2.2rem;
  padding: .3rem;
  cursor: pointer;
}

.fa-bars:hover {
  color: #cbff77;
  filter: drop-shadow(2px 2px 2px #f8f8f8)
}

.fa-bars:active {
  color: #f8f8f8;
  filter: drop-shadow(2px 2px 2px #cbff77)
}

.fa-bars {
  transition: all .25s ease-in-out;
}

.fa-bars-clicked {
  transform: rotate(-90deg);
}

/**************************************
 * Main
**************************************/
main {
  width: 100%;
}

.about-content {

  padding: 2rem;
}

.section-description {
  font-size: 1rem;
  text-align: justify;
}

.description-text {
  margin-bottom: .5rem;
}

.description-sm {
  font-size: .75rem;
  margin-top: 1rem;
  margin-right: 2rem;;
}

/**************************************
 * Magic shapes
**************************************/

.shape {
  margin-bottom: .75rem;
}

.magic-box {
  width: 3rem;
  height: 3rem;
  border: 1px solid #fff;
}

.magic-circle {
  width: 3rem;
  height: 3rem;
  border: 1px solid #fff;
  border-radius: 50%;
}

/********************************************
 * Footer and social
********************************************/

.footer-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  padding: 1rem .5rem;
  margin-top: 1rem;
  box-shadow: 0 -2px 2px #BDBDBD;
}

.copy-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.logo-brand-signature {
  width: 1.4rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.social-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
}

.footer-social-icon {
  width: 1.6rem;
  margin-right: .5rem;
  padding: .2rem;
  transition: all .2s ease-in-out;
}

.social-footer li {
  list-style: none;
}

.social-footer li a{
  text-decoration: none;
}

.social-footer li a:link {
  fill: #BDBDBD;
}

.social-footer li a:visited{
  fill: #BDBDBD;
}

.social-footer li a:focus{
  fill: #E0E0E0;
}
.social-footer li a:hover{
  fill: #E0E0E0;
  filter: drop-shadow(2px 2px 5px #FFF176)
}

.social-footer li a:active {
  color: #212121;
}

/**************************************
* Mobile first
**************************************/

@media screen and (min-width:768px) {
  /**************************************
  * grid
  **************************************/

  .grid-50-50 {
    display: grid;
    grid-template-areas:
      "left right";
    grid-template-columns: 50% auto;
  }

  .area-left {
    grid-area: left;
  }

  .area-right {
    grid-area: right;
  }
  .nav-header {
    width: 80%;
  }

  .nav-header-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .fa-bars {
    display: none;
  }

  .nav-header {
    display: block;
    height: auto;
  }

  .nav-header-links,
  .nav-header-links:link,
  .nav-header-links:visited {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #f8f8f8;
  }
}

@media screen and (min-width:880px) {
  .nav-header-links,
  .nav-header-links:link,
  .nav-header-links:visited {
    flex-direction: row;
  }
}
