@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/**************************************
 * Normalize
**************************************/

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;;
}

body {
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

.logo-header {
  height: 4rem;
  margin: 1rem;
}

/**************************************
 * Default Themes
**************************************/

body {
  background-color: #07080d;
  color: #f8f8f8;
}

img {
  max-width: 100%;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.p-sm {
  padding: .5rem;
}

/**************************************
 * Header
**************************************/
.header-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-header {
  width: 80%;
}

.nav-header-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.nav-header-links {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #f8f8f8;
}

.nav-header-links span {
  margin-right: .5rem;
}
/**************************************
 * grid
**************************************/

.grid-50-50 {
  display: grid;
  grid-template-areas:
    "left right";
  grid-template-columns: 50% auto;
}

.area-left {
  grid-area: left;
}

.area-right {
  grid-area: right;
}

/**************************************
 * Main
**************************************/
main {
  width: 100%;
}

.about-content {

  padding: 2rem;
}


.section-description {
  font-size: 1rem;
  text-align: justify;
}

.description-sm {
  margin-top: 1rem;
  margin-right: 2rem;;
}


/**************************************
 * Magic shapes
**************************************/

.magic-box {
  width: 3rem;
  height: 3rem;
  border: 1px solid #fff;
}

.magic-circle {
  width: 3rem;
  height: 3rem;
  border: 1px solid #fff;
  border-radius: 50%;
}