@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/**************************************
 * Normalize
**************************************/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/**************************************
 * Default Themes
**************************************/

body {
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  background-color: #07080d;
  color: #f8f8f8;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.p-sm {
  padding: .5rem;
}

/**************************************
 * Grid Layout
**************************************/

.App {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;

}

header {
  grid-area: header;
  align-self: start;
}

main {
  grid-area: main;
  align-self: start;
}

footer {
  grid-area: footer;
  align-self: end;
}

/**************************************
 * Header
**************************************/
.header-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-header {
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.nav-header-container {
  display: block;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.nav-header-open {
  height: 403px;
}

.nav-header-links,
.nav-header-links:link,
.nav-header-links:visited {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  color: #f8f8f8;
  padding: .5rem;
  width: 100%;
  transition: all .3s ease-in-out;
  text-align: center;
}

.light-theme .nav-header-links,
.light-theme .nav-header-links:link,
.light-theme .nav-header-links:visited {
  color: #07080D;
}

.nav-header-links:focus {
  outline: 1px dotted #f8f8f8;
}

.light-theme .nav-header-links:focus {
  outline: 1px dotted #07080d;
}

.nav-header-links:hover {
  background-color: #f8f8f8;
  color: #07080d;
}

.light-theme .nav-header-links:hover {
  background-color: #999;
  color: #f8f8f8;
}

.nav-header-links:active {
  color: #cbff77;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
}

.nav-header-links span {
  margin-right: .5rem;
}

.logo-header {
  height: 4rem;
  margin: 1rem;
}

/**************************************
 * Drop-down Menu
**************************************/

.fa-bars,
.fa-bars:link {
  color: #f8f8f8;
  font-size: 2.2rem;
  padding: .3rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.fa-bars:hover {
  color: #cbff77;
  filter: drop-shadow(2px 2px 2px #f8f8f8);
}

.fa-bars:active {
  color: #f8f8f8;
  filter: drop-shadow(2px 2px 2px #cbff77);
}

.fa-bars-clicked {
  transform: rotate(-90deg);
}

/**************************************
  * Themes & Language
**************************************/

.dark-theme {
  color-scheme: dark;
}

.light-theme {
  color-scheme: light;
  background-color: #f8f8f8;
  color: #07080d;
}

.lang-main-btn {
  padding-left: .5rem;
}

.lang-group,
.switch-mode-box {
  display: flex;
  padding: .5rem;
}

.light-theme .lang-btn:hover,
.lang-btn,
.dark-mode-btn,
.light-mode-btn {
  cursor: pointer;
  color: #f8f8f8;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .5rem;
  transition: all .3s ease-in-out;
}

.nav-icon {
  font-size: .9rem;
  transition: all .3s ease-in-out;
}

.material-symbols-outlined,
.material-symbols-rounded {
  transition: all .3s ease-in-out;
}

.dark-mode-btn:hover,
.light-mode-btn:hover,
.material-symbols-outlined:hover{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  transition: all .3s ease-in-out;
}

.dark-theme .lang-btn:hover,
.light-theme .fa-bars,
.light-theme .fa-bars:link {
  color: #07080D;
}

.light-theme .lang-btn,
.dark-theme .lang-btn:hover,
.light-mode-btn:hover,
.light-theme .active {
  background-color: #fff;
}

.light-theme .lang-btn,
.light-mode-btn:hover .nav-icon,
.light-theme .active .nav-icon {
  color: #07080d;
}

.light-theme .lang-btn:hover {
  background-color: #07080d;
}

/**************************************
 * Main
**************************************/
main {
  width: 100%;
  padding-left: .5rem;
  padding-right: .5rem;
}

.about-content {
  padding: 2rem;
}

.section-description {
  font-size: 1rem;
  text-align: justify;
}

.description-text {
  margin-bottom: .5rem;
}

.description-sm {
  font-size: .75rem;
  margin-top: 1rem;
  margin-right: 2rem;
}

/**************************************
 * Magic Shapes
**************************************/

.shape {
  margin-bottom: .75rem;
}

.magic-box,
.magic-circle {
  width: 3rem;
  height: 3rem;
  border: 1px solid #fff;
}

.light-theme .magic-box,
.light-theme .magic-circle {
  border-color: #07080D;
}

.magic-circle {
  border-radius: 50%;
}

/********************************************
 * Footer and Social
********************************************/

.footer-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 1rem .5rem;
  margin-top: 1rem;
  box-shadow: 0 -2px 2px #bdbdbd;
}

.copy-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.logo-brand-signature {
  width: 1.4rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.social-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
}

.footer-social-icon {
  width: 1.6rem;
  margin-right: .5rem;
  padding: .2rem;
  transition: all .3s ease-in-out;
}

.social-footer li {
  list-style: none;
}

.social-footer li a {
  text-decoration: none;
}

.social-footer li a:link,
.social-footer li a:visited {
  fill: #bdbdbd;
}

.social-footer li a:focus,
.social-footer li a:hover {
  fill: #e0e0e0;
  filter: drop-shadow(2px 2px 5px #fff176);
}

.social-footer li a:active {
  color: #212121;
}

.light-theme .social-footer li a,
.light-theme .social-footer li a:link,
.light-theme .social-footer li a:visited {
  fill: #212121;
}

/**************************************
 * Contact form
**************************************/

.section-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: .3rem;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding: 1rem .5rem;
  border: 1px solid #808185;
  border-radius: .4rem;
}

input,
textarea,
button {
  padding: .5rem;
  margin-bottom: .5rem;
  border-radius: .5rem;
  border: 1px solid #808185;
  background-color: #07080D;
  color: #eaebef;
}

textarea {
  height: 10rem;
  resize: none;
}

.success-message {
  display: block;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

.success-message p {
  text-align: left;
}

.success-message-link,
.success-message-link:link,
.success-message-link:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f8f8;
  padding: .5rem;
}

.success-message-link:hover {
  color: #f8f8f8;
  text-shadow: 1px 1px 4px rgba(255, 255, 255, .5);
}

.success-message-link:active {
  color: #cbff77;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
}

.btn-contact-submit {
  cursor: pointer;
  background-color: #f8f8f8;
  color: #07080d;
  transition: all .3s ease-in-out;
}

.btn-contact-submit:focus {
  border: 1px dotted #808185;
}

.btn-contact-submit:hover {
  box-shadow: 1px 1px 4px #cbff77;
}

.contact-form-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 1rem;
}

.contact-form-info p:first-child {
  display: inline;
  font-size: 1rem;
  margin-right: 1rem;
}

.contact-form-info p:nth-child(2) {
  display: none;
}

.contact-form-info p:first-child a,
.contact-form-info p:first-child a:link,
.contact-form-info p:first-child a:visited {
  color: #f8f8f8;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.contact-form-info p:first-child a:hover {
  color: #cbff77;
}

.contact-form-info p:first-child a:active {
  outline: 1px dotted #f8f8f8;
  border-radius: .5rem;
}

.contact-form-info p:first-child a:focus {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
}

.link-email-text {
  display: none;
}

.light-theme textarea,
.light-theme input {
  background-color: #f8f8f8;
  color: #07080d;
}

.light-theme .btn-contact-submit {
  color: #f8f8f8;
  background-color: #07080d;
}

.light-theme .btn-contact-submit:hover {
  color: #07080d;
  background-color: #f8f8f8;
}

.light-theme .contact-form-info p:first-child a,
.light-theme .contact-form-info p:first-child a:link,
.light-theme .contact-form-info p:first-child a:visited,
.light-theme .link-email-text,
.light-theme .link-email-text:link,
.light-theme .link-email-text:visited {
  color: #07080d;
}

.light-theme .success-message-link,
.light-theme .success-message-link:link,
.light-theme .success-message-link:visited {
  color: #07080d;
}

/**************************************
 * Media queries
**************************************/

@media screen and (min-width: 768px) {

  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* Grid */

  .grid-50-50 {
    display: grid;
    grid-template-areas:
      "left right";
    grid-template-columns: 50% auto;
  }

  .area-left {
    grid-area: left;
  }

  .area-right {
    grid-area: right;
  }

  .nav-header {
    width: 80%;
  }

  .nav-header-container {
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
  }

  .fa-bars {
    display: none;
  }

  .nav-header {
    display: flex;
    height: auto;
    justify-content: flex-end;
  }

  .nav-header-links,
  .nav-header-links:link,
  .nav-header-links:visited {
    flex-direction: column;
    font-size: .9rem;
  }

  .contact-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem 4rem;
    border: 1px solid #808185;
    border-radius: .4rem;
    width: 80%;
    max-width: 960px;
  }

  .contact-form-info p:nth-child(2) {
    display: flex;
    font-size: .6rem;
    flex-direction: column;
  }

  .link-email-text,
  .link-email-text:link,
  .link-email-text:visited {
    display: inline;
    cursor: pointer;
    color: #f8f8f8;
    font-size: .7rem;
    transition: all .3s ease-in-out;
  }

  .link-email-text:hover {
    color: #cbff77;
  }

  .link-email-text:active {
    outline: 1px dotted #f8f8f8;
    border-radius: .5rem;
  }

  .link-email-text:focus {
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
  }

}

@media screen and (min-width: 1024px) {
  .nav-header-links,
  .nav-header-links:link,
  .nav-header-links:visited {
    flex-direction: row;
    justify-content: center;
  }
}

/**************************************
 * me section
**************************************/

.section-me {
}

.section-me article {
  margin-bottom: 1rem;
}

/**************************************
 * me section
**************************************/

.section-self p {
  margin-bottom: 1rem;
}